.mainTitle {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 24px;
  text-align: center;
}

.darkMode {
  background-color: #1e1e1e;
  color: white;
}

.lightMode {
  background-color: #ffffff;
  color: black;
}

.formWrapper {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.centeredBlockWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.createEventButton {
  width: 100%;
}

.navItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 16px 30px;
  background-color: #cdebf6;
  color: black;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  transition: background-color 0.3s ease, box-shadow 0.2s ease;
  width: 50%;
}

.navItem svg {
  margin-right: 12px;
  width: 28px;
  height: 28px;
}

.navItem:hover {
  background-color: #b3ced7;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.footerCardWrapper {
  text-align: center;
  width: 100%;
}

.card {
  padding: 40px;
  border-radius: 12px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
}

.card.darkModeCard {
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
}

.card.lightModeCard {
  background-color: rgba(6, 6, 6, 0.1);
  color: black;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
