.wrapper {
  padding: 20px;
  background-color: #ffffff;
  color: black;
  min-height: 100vh;
  width: calc(100% - var(--sidebar-width));
  box-sizing: border-box;
  transition: none;
}

.title {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 24px;
  text-align: center;
}

.flexRow {
  display: flex;
  width: 100%;
  gap: 20px;
}

.leftBlock,
.rightBlock {
  flex: 1;
}

.fullWidthLink {
  display: block;
  width: 100%;
}

.createButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  background-color: #146ef5;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.2s ease;
}

.createButton svg {
  margin-right: 12px;
}

.createButton:hover {
  background-color: #4b93ff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.card {
  padding: 20px;
  border-radius: 12px;
  background-color: rgba(220, 220, 255, 0.7);
  width: 100%;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.editButton {
  max-width: 150px;
  padding: 10px 16px;
  background-color: #1075fa;
  color: white;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin-top: 12px;
}

.editButton:hover {
  background-color: #6c98b6;
}

@media (max-width: 900px) {
  .flexRow {
    flex-direction: column;
  }
}
