* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.sidebar {
  width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: relative;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 30px;
  font-weight: bold;
}

.iconMenu {
  width: 55px;
  height: 55px;
  object-fit: cover;
  background-color: transparent;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-item {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: white;
}

.nav-item svg {
  margin-right: 8px;
}

.nav-item:hover {
  background-color: #444444;
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.main-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.app-container.light-mode {
  background-color: #ffffff;
  color: black;
}

.sidebar.light-mode {
  background-color: #92b5d9;
  color: black;
}

.nav-item.light-mode {
  color: black;
}

.nav-item.light-mode:hover {
  background-color: #f7f7f7;
}

.card-container.light-mode .card {
  background-color: #c6d4d9;
  color: black;
}

.app-container.dark-mode {
  background-color: #1a1a1a;
  color: white;
}

.sidebar.dark-mode {
  background-color: #222735;
  color: white;
}

.nav-item.dark-mode {
  color: white;
}

.nav-item.dark-mode:hover {
  background-color: #444444;
}

.card-container.dark-mode .card {
  background-color: #333333;
  color: white;
}

.theme-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  font-size: 16px;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 20px;
  width: calc(100% - 40px);
  left: 10px;
}

.theme-toggle svg {
  margin-right: 4px;
}

.theme-toggle.light-mode:hover {
  background-color: #f7f7f7;
}

.theme-toggle.dark-mode:hover {
  background-color: #444444;
}
