.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
}

.pageContent {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .pageContent {
    padding: 12px;
  }
}
