body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.App {
  text-align: center;
}

/* Общие стили для режимов */
.mode {
  background-color: #f9f9f9;
}

.dark-mode {
  background-color: #222;
  color: white;
}

.App-header {
  background-color: #222;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.8em;
}

.App-logo {
  height: 60px;
  margin-right: 10px;
}

.container {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Общие стили для форм */
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

.link {
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
}

.link:hover {
  text-decoration: underline;
}

.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar button {
  width: 100%;
  margin: 10px 0;
}

.content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container {
  display: flex;
  height: calc(100vh - 100px); /* Убираем 100px под хедер */
  margin-top: 100px; /* Отступ, чтобы контент не закрывался */
}